[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.user
*.apk
*.aab
unity-*.log

.utmp/
.vs/
.idea/
artifacts/
*.keystore
*.jks
.env
.env.*
!.env.example
client/Assets/InitTestScene*
